body{
    max-width: 1 400 px;
    font-family:'Raleway', sans-serif;
    padding-left: 50px;
    padding-right: 45px;
}
*{
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;
}

/*****************************header***************************/
header{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 44px;
    width: 61px;
    height: 29px;
}
.img-logo{
    max-width: 100%;
    max-height: 100%;
}
.nav{
    width: 320px;
}
.menu{  
    display: flex;
    justify-content:space-around;   
}
.liste-menu{
    list-style-type: none;
    padding-top: 48px;
}
.liste-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

/***********hover*************/

.liste-menu:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.liste-menu a:hover{
    color: #0065FC;
}





/*****************************Main*****************************/

/*******partie recherche**********/
.titre{
    margin-top: 53px;
    font-weight: 700;
    font-size: 22px;
}
.first{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.boite-recherche{
    width: 418px;
    height: 49px; 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}
.icone-location{
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    text-align: center;
}
.fa-location-dot{
    font-size: 18px;
    margin-top: 16px;
}
.saisie-recherche{
    border: none;
    width: 230px;
    padding-left: 10px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.recherche{
    border: none;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
}

/*********Partie filtre*************/

.block-filtre{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 920px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
}
.filtre{
    padding-top: 14px;
}


.block-option{
    width: 840px;
    display: flex;
    justify-content: space-between ;
    cursor: pointer
}

.options{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 14px;
}
.options .fa-solid{
    margin-right: 10px;
    color: #0065FC;
    font-size: 22px;
}
.option-1{
    width:175px;
}

.option-2{
    width:136px;
}
.option-3{
    width:172px;
}
.option-4{
    width: 226px;
}

.infobar{
    display: flex;
    margin-top: 35px;
}
.icone-info{
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    text-align: center;
    margin-right: 12px;
}
.fa-info{
    color: #0065FC;
    font-size: 12px;
}
.text-info{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
/********hover*******/
.options:hover{
    background-color: #DEEBFF;
}

/****************Partie hébergement***********/

.hebergement{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.heber-ville{
    width: 60%;
    border-radius: 20px;
    background: #F2F2F2;
    padding-left: 35px;
    padding-right: 35px;
    padding-top:2px ;  
}
.titre-2{
    font-weight: 700;
    font-size: 22px;
    margin-top: 40px;
} 
.produits-heber{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 11px 13px 0px rgb(0 0 0 / 13%);
    padding: 5px;
}

.titre-3{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 10px;
    margin-left: 5px;
}

.card-p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}
.card-heber{
    width: 30%;
    height: 199px;
    margin-bottom: 30px;
    position: relative;
}
.card-heber img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.etoiles{
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
}
.fa-star{
    font-size: 12px;
    color: #0065FC;
}
.etoile-gris{
    color: #F2F2F2;
}
.plus{
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.populaire{
    width: 25%;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 2px;
    border-radius: 20px;
    background: #F2F2F2;
}

.fa-chart-line{
    float: right;
    color: #0065FC;
}
.card-pop{
    width: 100%;
    height: 145px;
    display: flex;
    margin-top: 20px;
}

.card-pop img{
    width: 40%;
    height: 130px;
    object-fit: cover;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.info-card{
    margin-left: 15px;
    padding-right: 5px;
    position: relative;
}

/****************Partie activité**************/
.activite{
    margin-top: 60px;
}
.produits-activite{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.card-activite{
    width: 22%;
    height: 444px;
    border-radius: 20px;
    box-shadow: 0px 11px 13px 0px rgb(0 0 0 / 13%);
}

.card-activite img{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
figcaption{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 15px;
}


/***************************footer*****************************/
.footer{
    margin-top: 60px;
    background-color: #F2F2F2;
    padding: 45px 100px 0 35px;
    display: flex;
    justify-content: space-around;
}


.titres-footer{
    font-size: 18px;
    font-weight: 700;
}

.listes-footer{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listes-footer li{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}
.lien-list{
    text-decoration: none;
    color: black;
}