body{
    max-width: 1400px;
    font-family:'Raleway', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}
*{
    padding: 0;
    margin: 0;
    font-family:'Raleway', sans-serif;
}

/*****************************header***************************/
header{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 40px;
    width: 61px;
    height: 29px;
}
.img-logo{
    max-width: 100%;
    max-height: 100%;
}
.nav{
    width: 25%;
}
.menu{  
    width: 100%;
    display: flex;
    justify-content:space-around;   
}
.liste-menu{
    width: 50%;
    list-style-type: none;
    padding: 40px 20px 0 20px;
}
.liste-menu a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
}


/***********hover*************/

.liste-menu:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
.liste-menu a:hover{
    color: #0065FC;
}





/*****************************Main*****************************/

/*******partie recherche**********/
.titre{
    margin-top: 53px;
    font-weight: 700;
    font-size: 22px;
}
.first{
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.boite-recherche{
    width: 440px;
    height: 49px; 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}
.icone-location{
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    text-align: center;
}
.fa-location-dot{
    font-size: 18px;
    margin-top: 16px;
}
.saisie-recherche{
    border: none;
    width: 65%;
    padding-left: 10px;
}
input::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: black;
}
.recherche{
    border: none;
    width: 35%;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
}
.fa-magnifying-glass{
    display: none;
}

/*********Partie filtre*************/

.block-filtre{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;
    width: 100%;

}
.filtre{
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    margin-right: 30px;
}


.block-option{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    cursor: pointer;
}

.options{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin-right: 30px;
    padding: 12px 14px;
}
.options .fa-solid {
    margin-right: 10px;
    color: #0065FC;
    font-size: 18px;
}
.options span{
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin-left: 5px;
    color: black;
}

.infobar{
    display: flex;
    margin-top: 35px;
}
.icone-info{
    width: 25px;
    height: 25px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    text-align: center;
    margin-right: 12px;
}
.fa-info{
    color: #0065FC;
    font-size: 12px;
}
.text-info{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
/********hover*******/
.options:hover{
    background-color: #DEEBFF;
}

/****************Partie hébergement***********/

.hebergement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.heber-ville{
    width: 60%;
    border-radius: 20px;
    background: #F2F2F2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:2px ;  
}
.titre-2{
    font-weight: 700;
    font-size: 22px;
    margin-top: 40px;
} 
.produits-heber{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.produits-heber a{
    width: 32%;
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
}
.card{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 11px 13px 0px rgb(0 0 0 / 13%);
    padding: 5px;
}

.titre-3{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 10px;
    margin-left: 5px;
}

.card-p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
}
.card-heber{
    height: 200px;
    position: relative;
}
.card-heber img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.etoiles{
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
}
.fa-star{
    font-size: 12px;
    color: #0065FC;
}
.etoile-gris{
    color: #F2F2F2;
}
.plus{
    border: none;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.populaire{
    width: 22%;
    padding: 2px 38px;
    border-radius: 20px;
    background: #F2F2F2;
}

.fa-chart-line{
    float: right;
    color: #0065FC;
}

.hotel-pop a{
    width: 100%;
    text-decoration: none;
    color: black;
}
.card-pop{
    width: 100%;
    height: 145px;
    display: flex;
    margin-top: 20px;
}

.card-pop img{
    width: 40%;
    height: 130px;
    object-fit: cover;
    height: 140px;
    border-radius: 15px 0 0 15px;
}
.info-card{
    margin-left: 15px;
    padding-right: 5px;
    position: relative;
}

/****************Partie activité**************/
.activite{
    margin-top: 60px;
}
.produits-activite{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.produits-activite a{
    width: 23%;
    text-decoration: none;
    color: black;
}
.card-activite{
    width: 100%;
    height: 444px;
    border-radius: 20px;
    box-shadow: 0px 11px 13px 0px rgb(0 0 0 / 13%);
}

.card-activite img{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
figcaption{
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
}


/***************************footer*****************************/
.footer{
    width: 100%;
    margin-top: 60px;
    padding-left: 45px;
    padding-top: 35px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

.menu-footer{
    width: 30%;
}

.titres-footer{
    font-size: 18px;
    font-weight: 700;
}

.listes-footer{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.listes-footer li{
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
}
.lien-list{
    text-decoration: none;
    color: black;
}


/****************************Media query*****************************/

    /*************Tablette**********/

        @media screen and (max-width: 992px) {

            /*******partie recherche**********/

            .fa-magnifying-glass{
                display: none;
            }

            /*******partie filtre************/
            .block-option{
                width: 100%;
                justify-content: space-between;

            }
            .filtre{
               margin-right: 10px;
            }

            /*********Partie hébergement*****/
            .heber-ville{
                width: 100%;
            }
            .populaire{
                margin-top: 30px;
                width: 100%;
            }
            .hotel-pop{
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;
            }
            .hotel-pop a{
                width: 30%;
            }

            /********partie activité*********/
            .card-activite{
                height: 270px;
            }
            .card-activite img{
                height: 210px;
            }
            figcaption{
                margin-top: 10px;
            }
        }


    /*************Mobile***************/

        @media screen and (max-width: 768px){
            body{
                padding: 0;
            }
            /*******partie header**************/
            header{
                display: flex;
                flex-direction: column;
            }
            .logo{
                margin: 20px auto;

            }
            .nav{
                width: 100%;
                margin: 0 auto;
            }
            .liste-menu{
                padding: 10px 0;
                text-align: center;
            }
            .liste-menu:hover{
                border-top: none;
                border-bottom: 2px solid #0065FC;
                color: #0065FC;
            }

             /*******partie recherche**********/
             .group-recherche{
                width: 85%;
                margin: auto;
             }
             .boite-recherche{
                width:95%;
            }
            .fa-magnifying-glass{
                display: block;
            }
            .recherche{
                width: 18%;
            }
            .recherche span{
                display: none;
            }

            /*******partie filtre************/
            .filtre{
                margin-top: 0;
            }
            .block-option{
                margin-top:15px;
                width: 100%;
            }
            .options{
                width: 35%;
                margin-bottom: 15px;
                margin-right: 10px;
            }
            .options .fa-solid{
                margin-right: 0;
                font-size: 12px;
            }
            .options span{
                font-size: 11px;
            }


            /*******partie hébergement*******/
            .populaire{
                order: 1;
                margin: 0;
            }
            .heber-ville{
                width: 100%;
                order: 2;
                background: white;
            }
            .hotel-pop{
                display: flex;
                flex-direction: column;
            }
            .hotel-pop a{
                width: 100%;
            }
            .produits-heber{
                display: flex;
                flex-direction: column;
            }
            .produits-heber a{
                width: 100%;
            }
            /********partie activité**********/
            .activite{
              width: 85%;
              margin: auto;
            }
            .activite h2{
                width: 50%;
            }
            .produits-activite{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 900px;
            }
            .produits-activite a{
                width: 100%;
            }
            .card-activite{
                height: 200px;
            }
            .card-activite img{
                height: 140px;
            }

            /**********footer***********/
            .footer{
                height: 430px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0;
            }
            .menu-footer{
                width: 100%;
                margin: 30px;
            }
            .listes-footer{
                margin-bottom: 0;
            }
            
        }